body{
    background-color: black;
    color: white;
    font-family: arial, tahoma;
    
}
.logo2{
    color: red;
}
.inline{
    display: inline-block;
}
/*
.container{
    background-color: darkslategray;
}*/
